header{
    text-align: center;
}

#vidu{
    background-color: blue;
    
    padding: 8px;
    border:10px;
    
    border-radius:10px;
    text-decoration: none;

}
#demo{
    background-color: aliceblue;
    color:black;
    padding:12px;
    text-decoration: none;
    font-size: 17px;
}

article{
    text-align: center;
        flex: 3;
        background-color:white;
        padding: 10px; 
        height:100%;
        font-size:14px;
      
}
footer{
    background-color:rgba(240, 234, 234, 0.932);
        padding: 10px;
        text-align: left;
        color:black;
        margin:0 -8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height:100%;
}
.nav{
    height: 60px;
    background-color:rgba(240, 234, 234, 0.932);
    display:flex;
    justify-content:space-between;
    /*justify để căn chỉnh nếu sau : là space-between thì là đẩy các item cách xa nhau*/
}
.nav-list{
    padding-left: 0;
    margin:auto 16px;
    display:flex;
    /*display:flex để giúp cùng dòng nhau*/
}
.nav-item{
    color:black;
    list-style: none;
    margin:0 8px;
   

}
a{
    color:black;
    text-decoration: none;
}
input{
    width:610px;
    height:40px;
    border-radius: 30px;
    text-indent: 20px;
}

div#image{
    
        position: absolute;
        left: 10px;
        top: 20px;
        z-index: -1;
      
}
.nav1{
    height: 60px;
    
    display:flex;
    justify-content: flex-end;
}
.nav-list1{
    
    margin:auto 16px;
    display:flex;
    
}
.nav-item1{
    color:black;
    list-style: none;
    margin:0 8px;
    
   

}

.nav2{
    height: 60px;
    
    display:flex;
    justify-content:center;
}
.nav-list2{
    
    margin:auto 16px;
    display:flex;
    
}
.nav-item2{
    color:black;
    list-style: none;
    margin:0 8px;
    
   

}
